body{
	height: 100%;
	width: 100%;
}
.footer {
	text-align: center;
	bottom: 0;
	position: fixed;
	padding: 8px;
}


ul.topnav {
  display: fixed;
  list-style-type: none;
  margin: 0;
  padding-left : 15px;
  overflow: hidden;
  background-color: #333;
}

ul.topnav li {float: left;}

ul.topnav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 14px;
  text-decoration: none;
  font-size: 18px;
}

ul.topnav li a:hover:not(.active) {background-color: gray;}

ul.topnav li a.active {background-color: purple;}

ul.topnav li a.active-right {background-color: purple;
float: right;}

ul.topnav li.right {float: right;
}

@media screen and (max-width: 600px) {
  ul.topnav li.right, 
  ul.topnav li {float: none;}
}